[Unit]
Description=noVNC Web Access
After=x11vnc.service
Requires=x11vnc.service

[Service]
ExecStart=/usr/bin/websockify --web /usr/share/novnc/ --daemon 6080 localhost:5900
Restart=always
User=pi

[Install]
WantedBy=multi-user.target