[Unit]
Description=noVNC Web Access
After=vncserver.service

[Service]
ExecStart=/usr/bin/websockify --web /usr/share/novnc/ 6080 localhost:5901
Restart=always
User=pi

[Install]
WantedBy=multi-user.target