[Unit]
Description=TigerVNC Server
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/tightvncserver :1 -geometry 1280x720
ExecStop=/usr/bin/tightvncserver -kill :1
Restart=always

[Install]
WantedBy=multi-user.target