[Unit]
Description=VNC Server for Pi
After=display-manager.service network.target
Requires=display-manager.service

[Service]
User=root
WorkingDirectory=/root

ExecStart=/usr/bin/x11vnc -display :0 -forever -rfbport 5900 --listen 0.0.0.0 -shared -nopw -auth guess -xkb
ExecStartPost=/bin/sleep 2

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target