[Unit]
Description=Librespot Spotify Connect
After=pulseaudio-system.service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/librespot --name "Pixie Audio" --backend pulseaudio --device default --bitrate 320 --enable-volume-normalisation --volume-ctrl linear --initial-volume 100
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 